h1{color: blue; text-align: center}
#art{background-color: #00ffff; text-align: center}
#classi{background-color: #00ffff; text-align: center}
table{height:200px; width: 80%; text-align: center; border-collapse: collapse; border-color: #0fbdff; margin-left: 10%; text-transform: uppercase}